<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" style="background-image: url('assets/img/bg/bg.jfif')">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 offset-md-4 offset-sm-3">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <h3 class="card-title">Login</h3>
                                </div>
                                <div class="card-content">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" formControlName="username" placeholder="Username"
                                               class="form-control input-no-border">
                                    </div>
                                    <div *ngIf="f.username.errors && (submitted || !f.username.pristine)"
                                         class="error-msg">
                                        <div [hidden]="!f.username.errors.required">
                                            Username is required
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" formControlName="password" placeholder="Password"
                                               class="form-control input-no-border">
                                    </div>
                                    <div *ngIf="f.password.errors && (submitted || !f.password.pristine)"
                                         class="error-msg">
                                        <div [hidden]="!f.password.errors.required">
                                            Password is required
                                        </div>
                                    </div>
                                    <div *ngIf="showLoginError" class="error-msg">
                                        Invalid Credentials
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" [disabled]="isLoading"
                                            class="btn btn-success btn-block">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
